<a href="https://colab.research.google.com/github/Gimarose/CPEN21A-BSCPE-1-2/blob/main/DEMO1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python

In [2]:
###Python Indention
if 5>2:
  print("five is greater than two")

five is greater than two

Python Variable

In [3]:
x = 1     #This is a single variable with single value
x,y=1,2   #These are two variables with two different values
x,y,z=1,2,3
print(x)
print(y)
print(z)

1
2
3

In [4]:
x,y= "four",2
x
y
x

'four'

Casting

In [5]:
b = int(4)
b
c = float(4)
c

4.0

Type Function

In [6]:
x = 5
y = "John"  #This is type of string
h = "ana"
H = 'Ana'
print(type(x))
print(type(y))
print(h)
print(H)

<class 'int'>
<class 'str'>
ana
Ana

One Value to Multiple Variables

In [7]:
x = y = z = 'four'
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [8]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

In [17]:
g = "Luzande"
print("Gimarose Almeida" " " + g)

Gimarose Almeida Luzande

Arithmetic Operations

In [9]:
x=11
y=12
z=13
print(x+y+z)

36

Assignment Operators

In [10]:
x+=3  #This is the same as x = x +3
print(x)

14

In [11]:
y+=5
print(y)

17

Comparison Operators

In [12]:
print(x>y)

False

Logical Operators

In [13]:
x<y and x!=x

False

In [14]:
x>y or y==z

False

In [15]:
not(print(x>y))

False

True

In [16]:
#Identity Operations
print(x is y)
print(x is not z)

False
True