<a href="https://colab.research.google.com/github/Gimarose/CPEN21A-BSCPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [ ]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [51]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]   #The Break Statement
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

The Range Function

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [64]:
adjective=["red", "big","Tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
Tasty apple
Tasty banana
Tasty cherry

While Loop

In [ ]:
i=10
while i>6:
  print(i)
  i-=1 #Assignment operator for subtraction, i=i-1

10
9
8
7

The Break Statement

In [ ]:
i=10
while i>6:
  
  print(i)
  if i==8:
   break
  i-=1

10
9
8

The Continue Statement

In [ ]:
i=10
while i>6:
  i=i-1
  if i==8:
    continue
  print(i)

9
7
6

The Else Statement

In [ ]:
i=10
while i>6:
  i=i-1
  print(i)
else:
  print("i is no longer greather than 6")

9
8
7
6
i is no longer greather than 6

Application 1

For Loop

In [ ]:
value=["Value 0", "Value 1", "Value 2", "Value 3", "Value 4", "Value 5", "Value 6", "Value 7", "Value 8", "Value 9", "Value 10"]
for x in value:
  print(x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [114]:
for value in range(11):
  print("Value", value)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

While Loop

In [113]:
i=10
while i>-1:
 print("Value", i)
 i-=1

Value 10
Value 9
Value 8
Value 7
Value 6
Value 5
Value 4
Value 3
Value 2
Value 1
Value 0

Application 2

In [ ]:
i=20
while i>3:
 i=i-1
 print(i)
 if i==4:
    break
else:
  print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4